body {
    font-family: Arial, sans-serif;
    background: #e3e6f0;
    padding: 20px;
}

h1 {
            text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    }

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}
#resultado {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-height: 80px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 18px;
}